

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    background: #92d1e4;
    color: #070707
}

header {
    background: #111213;
    color: #fff;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center
}


p {
  font-size: 20px; 
  line-height: 1.6;
}






nav a {
    color: #fff;
    margin-left: 16px;
    text-decoration: none
}

nav a:hover {
    text-decoration: underline
}

main {
    padding: 40px;
    max-width: 900px;
    margin: auto
}

h1 {
    margin: 10px
}

h2 {
    margin-top: 10px
}

footer {
    background: #080808;
    color: #ccc;
    padding: 12px 20px;
    text-align: center;
    margin-top: 600px
}


.redes a i {
  font-size: 22px; 
  margin: 0 20px;  
  color: #fff;     
  transition: transform 0.3s, color 0.3s;
}

.redes a i:hover {
  color: #00bcd4;   
  transform: scale(1.2); 
}

.video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}


.tam {
width: 200px;
height: auto;
margin: 7px auto;
float: left;

}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 100px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 12px;
}




li {
  font-size: 20px; 
   line-height: 1.6;
}










